# Ignorar todo
**/*

# Permitir solo los archivos específicos
!requirements*.txt

# Permitir solo los directorios específicos
!gpuphot/
!gpuphot_worker/

# Incluir la carpeta profiling_scripts incluso si otras reglas la excluirían
!profiling_scripts/
!profiling_scripts/*

!initialize_notebooks.sh