astrometry~=3.0.0
astropy~=5.3.4
astroquery~=0.4.7
cupy-cuda12x~=12.3.0
docker~=7.1.0
ephem~=4.1.6
GPUtil~=1.4.0
json-with-comments~=1.2.9
lmfit~=1.2.2
matplotlib~=3.6.3
multiprocess~=0.70.17
numpy~=1.23.5
pandas~=1.4.4
python-dotenv~=1.0.1
python-logstash-async~=2.5.0
scikit-learn~=1.5.2
scipy~=1.9.3
setuptools~=75.1.0